<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header', { title }) -%>
</head>

<body>

    <% if (session.isAuthenticated) { %>

        <body class="sidebar-mini control-sidebar-slide-open sidebar-expand-lg sidebar-collapse layout-fixed"
            style="height: auto;">

            <div class="app-wrapper wrapper">


                <%- include('../partials/navbar') -%>
                    <%- include('../partials/sidebar') -%>
                        <%- include('./main') -%>
                            <% } %>
                                <%- body %>
                                <div id="toast-container" class="position-fixed bottom-0 end-0 p-3"></div>

                                    <%- include('../partials/js') -%>
        </body>

</html>